<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @link_collection.user_id %>
</p>


<%= link_to 'Edit', edit_link_collection_path(@link_collection) %> |
<%= link_to 'Back', link_collections_path %>
