<span id="notice" style="display:none"><%= javascript_tag :defer => 'defer' do -%>
    showNotice('<%= notice %>')<% end -%>
</span>
<span id="alert" style="display:none"><%= javascript_tag :defer => 'defer' do -%>
    showAlert('<%= alert %>')<% end -%>
</span>
