<p id="about-blurb">
	Are you ever at work, in the zone, getting spammed by links from co-workers/friends? Wouldn't it be nice to store those links away for later viewing?
	That is what your <b>DailyQueue</b> is for. <b>DailyQueue</b> is a web service that will store/organize and navigate to your saved links. It is accompanied
	by a desktop app that allows you to quickly send a link in your clipboard to your <b>DailyQueue</b> account. This lets you add a link seamlessly, without being interrupted.
</p>